.advantages__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #000000;
  width: 100%;
  height: 211px;

  &--accent {
    background-color: #81b3d2;
    color: #ffffff;
  }
}

.advantages__description {
  width: 100%;
  max-width: 232px;
  margin: 0;
}

.advantages-list__container {
  background-color: #eeeeee;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  max-width: 282px;
  margin: 0;
  margin-bottom: 11px;
  text-align: center;
}

.advantages__photo img {
  position: relative;
  min-width: 320px;
  width: 100%;
  display: block;
  height: auto;
  padding: 0;
  text-align: center;
}

.advantages__number {
  width: 100%;
  max-width: 282px;
  margin: 0;
  line-height: 21px;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .advantages__wrapper {
    display: grid;
    z-index: 2;

    &--1 {
      align-content: center;
      align-items: start;
      grid-template-columns: 1fr 2fr;
      height: 256px;
    }

    &--2 {
      align-content: center;
      align-items: start;
      grid-template-columns: 2fr 1fr;
      height: 256px;

    }
  }

  .advantages__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #000000;
    width: 100%;
    height: 256px;

    &--accent {
      background-color: #81b3d2;
      color: #ffffff;

    }
  }

  .advantages__photo {
    position: relative;
    min-width: 320px;
    width: 100%;
    object-fit: inherit;
    height: 100%;
    padding: 0;

    img {

      height: 100%;
      width: 100%;
    }
  }

  .advantages__wrapper--2 .advantages__container {
    order: 2;
  }

  .advantages-list__container {
    height: 100%;
    position: relative;
    padding: 0;
    display: flex;
    height: 256px;
    justify-content: space-around;
  }

  .advantages__title {
    font-size: 21px;
  }
}
