.attraction-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.attraction-form {
  display: grid;
  row-gap: 16px;
  margin: 24px 20px 39px;
}

.attraction-form__row {
  display: flex;

}

@media (min-width: 768px) {
  .attraction-form {
    grid-area: 3;
  }
}
