.catalog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  max-width: 306px;
  margin: 0 auto;
  text-align: center;
}

.catalog-item__title,
.likes__number {
  font-weight: 700;
}

.catalog-item__author {
  text-transform: none;
}

.catalog {
  display: grid;
  margin: 37px 20px 0;
}

.catalog .photo-container {
  display: grid;
}

.catalog-item {
  display: grid;
  margin: 24px 20px 25px;
}

.catalog-item__description {
  text-align: start;
  margin: 15px auto 11px;
}

.catalog__header {
  display: grid;
  row-gap: 24px;
  margin: 36px auto 28px;
  background-color: #ffffff;
}

.catalog__description {
  margin: 0 auto;
  max-width: 306px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .catalog .photo-container {
    display: grid;

    grid-template-areas:
      "main-photo main-photo"
      "photo-2 photo-3"
      "photo-4 photo-5";
  }

  .catalog-item__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
  }

  .catalog-item {
    img {
      width: 100%;
    }

    &--1 {
      grid-area: main-photo;
    }

    &--2 {
      grid-area: photo-2;
    }

    &--3 {
      grid-area: photo-3;
    }

    &--4 {
      grid-area: photo-4;
    }
  }
}
