.comment-form {
  display: grid;
  row-gap: 16px;
  margin: 24px 20px 39px;
}

.comment-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.comment-form__input textarea {
  width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  border: 0;

  &::placeholder {
    font: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(#000000, 0.3);
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .comment-form {
    grid-area: comment;
  }

  .comment-form__input textarea {
    width: 648px;
    min-height: 160px;
  }
}
