.intro {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #d3d3d3;
  min-height: 389px;

  &__background {
    position: relative;
    width: 100%;
    background-color: #d3d3d3;
  }

  &__text {
    position: absolute;
    width: auto;
  }
}

@media (min-width: 768px) {
  .intro {
    &__background {
      position: relative;
    }

    &__text {
      position: absolute;
      width: auto;
    }
  }
}
