.page__body {
  margin: 0;
  width: auto;
  min-width: 320px;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
